@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;


}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

header{
    background-image: url("https://source.unsplash.com/hQo6Uyo4nBg/1920x900");
    background-repeat: no-repeat;
    
}

nav {
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    padding: 1rem 1rem;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

nav a:hover {
    color: hsl(0, 0%, 85%);
}

.container {
    max-width: 1024px;
    margin: auto;
}

.hero{
    font-size: 22px;
    padding: 5rem 0;
}
.hero-text{
    max-width: 400px;
    padding: 1rem 0;
    color: hsl(0, 0%, 100%);
    
}

.hero button {
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: lightskyblue;
    font-size: 22px;
    color: white;
}
